# Environnements virtuels
venv/
.env
*.env

# Fichiers Python temporaires
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Fichiers de logs
*.log

# VS Code
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de config perso
*.sqlite3
